<!-- <img src="../images/avatar2.png" style = "width: 30%; border-radius: 5%;" alt=""> -->
<img src = "<%= picture %>" style = "width: 20%; border-radius: 50%; border: 2px solid black;" alt="picture">
<!-- <h1 class="mb-5"><%= headtitle %></h1> -->
<h1 class="mb-5" style="color:black; padding-top: 50px;"><%= headtitle %></h1>
<!-- <h2><%= name %></h2>
<h2><%= email %></h2> -->
<h1 style="color:black; padding-top: 30px;"><%= name %></h1>
<h2 style="color:black; padding-bottom: 30px;"><%= email %></h2>